<nav>
    <div>logo</div>
    <div>
        <% Category.all.each do |cate| %>
            <p> <%= cate.name %> </p>
        <% end %>
    </div>
    <div>
        <% if user_signed_in? %>
            <div class="nav-item"><%= link_to('My Account', edit_user_registration_path) %></div>
            <div class="nav-item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
            <div class="nav-item"><<%= link_to 'New Post', new_article_path %></div>
        <% else %>
            <div class="nav-item"><%= link_to "Login", new_user_session_path %></div>
            <div class="nav-item"><%= link_to "Sign up", new_user_registration_path %></div>
        <% end %>
    </div>
<nav>